[2020-04-21 05:58] daadu opened #1 "Problem with backlayer when keyboard is open"
Hey, I like what you did there! But when the keyobard is opened, the backlayer will move to the bottom instead of staying right under the appbar. You can open and close it like normal but it will be in the wrong location.

[2020-04-21 06:00] daadu opened #2 "Inactive layer color should not be hardcoded"
You are setting the color of the inactive layer to `Colors.grey.shade200.withOpacity(0.7)`. This means the fade only works properly with a white front layer and this causes a very eye-hurting flash when used with a dark theme. Instead, not only should you only change the opacity of the front layer instead of altering the hue, you should be interpolating the value instead of instantly changing the

[2020-04-21 06:03] daadu opened #3 "change direction from top to bottom"
in this library that doesn't implemented and i would like to change direction from top to bottom instead of bottom to top. that means open and close panel from top to bottom

[2020-04-21 06:09] daadu opened #4 "Manipulating animation duration doesn't affect animation"
Setting the backdrop animation duration to another value doesn't affect the animation.

When I change the code within `backdrop.dart` to:
[code]
The animation keeps having the same duration of 100ms.

[2020-04-21 06:14] daadu opened #5 "Proposal document for 1.0"
This is the proposal document for 1.0 version of the package intended to discuss and finalize the APIs of the package.

## List of Objectives
1. provide **easy and quick** way to implement **all the use cases** of [backdrop component as defined in Material Design Guideline](https://material.io/components/backdrop/)
2. implementations should assume **defaults** but be **configurable and extendable*

[2020-04-21 06:18] daadu opened #6 "BackdropAppBar"
Refer: #5

[2020-04-21 06:23] daadu opened #7 "Proper demo app with multiple use-cases"
This will be a separate Flutter Project within this project (like: `example`) named `demo`. This app  would be a like `gallery` app (https://gallery.flutter.dev) provided by Flutter to demonstrate all `material` and `cupertino` widget with code snippet embedded in itself.

Check the following screenshot from `gallery` app for `Banner` widget:

| mobile | desktop [mobile view] | destop [full view]

[2020-04-21 06:24] daadu opened #8 "Proper readme and tutorial documentations"
Refer: #5

[2020-04-21 06:24] daadu commented on #8
Moved from: https://gitlab.com/daadu/backdrop/-/issues/14

[2020-04-21 06:26] daadu commented on #7
Moved from: https://gitlab.com/daadu/backdrop/-/issues/13

[2020-04-21 06:26] daadu commented on #6
Moved from: https://gitlab.com/daadu/backdrop/-/issues/11

[2020-04-21 06:26] daadu commented on #5
Moved from: https://gitlab.com/daadu/backdrop/-/issues/7

[2020-04-21 06:28] daadu commented on #4
Moved from: https://gitlab.com/daadu/backdrop/-/issues/18

[2020-04-21 06:29] daadu commented on #3
Moved from: https://gitlab.com/daadu/backdrop/-/issues/5

[2020-04-21 06:29] daadu commented on #2
Moved from: https://gitlab.com/daadu/backdrop/-/issues/4

[2020-04-21 06:29] daadu commented on #1
Moved from: https://gitlab.com/daadu/backdrop/-/issues/3

[2020-04-21 07:48] daadu commented on #5
@all-contributors please add @daadu  for Code,  Ideas & Planning

[2020-04-21 07:51] daadu commented on #5
@all-contributors please add @WieFel  for Code, Documentation

[2020-04-21 19:11] uzairleo opened #11 "Backdrop not working"
Hi there recently or a month ago i used the backdrop package which was quite interesting experience but now again i am opening and then running the same project without doing any changes to it. Now its giving me this error
 canRequestFocus: isBackPanelVisible,
      ^^^^^^^^^^^^^^^
as shown in the screenshot i was thinking it may be with only this project lets try the backdrop  in a new project bu

[2020-04-21 19:25] WieFel commented on #11
Just tried to reproduce this error using backdrop v0.2.13 in an empty flutter app, but I can't reproduce the error.

Which flutter version are you using?<br/>
Please post the output of `flutter doctor`

[2020-04-21 19:52] uzairleo commented on #11
The version i m using is 0.2.13 but now i changed that to    backdrop: any but still the same result
here is my flutter doctor output
PS F:\Practice Flutter\top10_flutter_widgets> flutter doctor
Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel stable, v1.9.1+hotfix.6, on Microsoft Windows [Version 10.0.18362.778], locale en-US)

[√] Android toolchain - develop for A

[2020-04-21 19:54] uzairleo commented on #11
and here is the complete output
PS F:\Practice Flutter\top10_flutter_widgets> flutter doctor -v
[√] Flutter (Channel stable, v1.9.1+hotfix.6, on Microsoft Windows [Version 10.0.18362.778], locale en-US)
    • Flutter version 1.9.1+hotfix.6 at C:\flutter
    • Framework revision 68587a0916 (7 months ago), 2019-09-13 19:46:58 -0700
    • Engine revision b863200c37
    • Dart version 2.5.0

[√] Andro

[2020-04-21 20:03] WieFel commented on #11
Maybe try to upgrade flutter using `flutter upgrade` and try to run the app again with the new version of flutter.

[2020-04-21 20:24] uzairleo commented on #11
ok w8 i m trying  flutter upgrade

[2020-04-21 21:22] uzairleo commented on #11
problem solved thanks actually the problem is that
` dependOnInheritedWidgetOfExactType needs at least v1.12.1`  and i was on `flutter v1.9.1` but now after upgrade its runing
thanks dude :octocat:

[2020-04-21 21:22] #11 closed

[2020-04-27 07:18] daadu opened #12 "Demo site of the package hosted as Github Pages"
**Is your feature request related to a problem? Please describe.**
Could be used to quickly see what the package can do and interact with it.

**Describe the solution you'd like**
build example for flutter web and host it as Github pages.

[2020-05-09 16:02] skipmeister123 opened #13 "ExpansionTile messes up _currentIndex calculations"
**Describe the bug**
I'm trying to convert my old AppBar implementation to the Backdrop implementation.  My menu has ExpansionTiles and ListTiles.  Backdrop doesn't recognize the ListTiles inside my ExpansionTiles, and instead uses the ExpansionTile for the _currentIndex.  This breaks navigation.  To work around this, I set the _currentIndex manually, but the frontLayer doesn't become active after

[2020-05-09 16:11] daadu commented on #13
This looks like a custom logic not suitable for `BackdropNavigationBackLayer`. `BackdropNavigationBackLayer` is designed for simple navigation scenario.

Having said that, your code looks almost done, replace `BackdropNavigationBackLayer` with `ListView` or `ListView.builder` and that should do the job. I guess!

[2020-05-09 16:31] skipmeister123 commented on #13
Doesn't appear to be working.

[code]

[code]

[2020-05-09 16:34] daadu commented on #13
This error is because of passing wrong `context` to `Backdrop.of`.

You need to put the `backLayer` part in a custom widget or a workaround would be wrap the `ListView` around `LayoutBuilder` and pass the `context` from  `LayoutBuilder` to `Backdrop.of`

[2020-05-09 16:50] skipmeister123 commented on #13
I ended up with a LayoutBuilder, which did the trick.  Nice catch.  This feels super messy to me, but it works.  Thanks for the assist :)

[2020-05-09 17:52] #13 closed

[2020-05-13 22:25] cicelcup opened #14 "Focus in keyboard"
When you are using a front layer that contains one TextField,  if you are typing something on it and then it pressed the leading or action bottom in the backdrop appbar, the keyboard remains open instead of lost the focus.
(I cannot wrap

I guess this can be solved adding FocusScope.of(context).unfocus() in the places where fling is called.

(This is the first time in my life that I created some b

[2020-05-14 05:11] daadu commented on #14
@cicelcup Thank you for reporting the bug. We might take some time to fix it. Meanwhile you can file PR against it if you want. Contributions are welcomed!

[2020-05-14 18:10] cicelcup commented on #14
I already do the change. But I am not sure well how to do the pull request. I will mention what I have done so far.. First I clone the project, second, I create another branch, third I did the change, four I commit and then I try to push it but the server rejected... Please can you be kind to tell me how to do the pull request?

[2020-05-14 18:44] daadu commented on #14
@cicelcup you need to ["fork" this repo](https://help.github.com/en/github/getting-started-with-github/fork-a-repo) first to your own profile. then clone that repo to your local machine. push the change to your "forked" repo. then create PR from your repo to this one (fluttercommunity/backdrop)

[2020-05-14 18:55] amanv8060 opened #15 "when App is using full screen it leaves the space at bottom for buttons"
please see

[2020-05-14 20:00] cicelcup commented on #14
Thank you for teaching me. I already did what you indicated me.. Regards...

[2020-05-15 05:52] daadu commented on #15
Could you give some snippet to reproduce the bug with screenshots, for more clarity?

[2020-05-15 06:38] daadu commented on #14
@cicelcup Thank you for your contribution at #16. The fix is pushed to pub. Run `flutter pub upgrade`.

Also you have been added as contributor in README.md.

Hope to see more contributions from you.

[2020-05-15 06:38] #14 closed

[2020-05-15 21:34] amanv8060 commented on #15
Sure !
It leaves the Space dedicated for buttons,
i could hide it by putting a bottom nav bar there
![Screenshot_1589578333](https://user-images.githubusercontent.com/33422449/82098032-c4d17e00-9721-11ea-918f-efae0dd9d9c6.png)
![Screenshot_1589578346](https://user-images.githubusercontent.com/33422449/82098035-c69b4180-9721-11ea-9770-36ed5c505b1f.png)

[2020-05-16 06:50] daadu commented on #15
@amanv8060 I need the code that produces this output to debug. Can you provide a minimum code snippet to produce this error?

[2020-05-16 08:49] amanv8060 commented on #15
a very simple method to reproduce
[code]

[2020-05-16 09:18] WieFel commented on #15
I just tried to reproduce the problem using your code, but on my emulator (running Android 10) I cannot reproduce it. It seems to work fine there.
<img alt="Screenshot_1589620194" src="https://user-images.githubusercontent.com/8345062/82115883-ea807680-9765-11ea-81fa-50ce0849f057.png" width="250"/>  <img alt="Screenshot_1589620198" src="https://user-images.githubusercontent.com/8345062/82115884-eb

[2020-05-16 13:53] amanv8060 commented on #15
[code]

[2020-05-16 18:24] daadu opened #17 "Backdrop with NavigationRail"
**Is your feature request related to a problem? Please describe.**
Material Design Guideline have come up with a new component called [NavigationRail](https://material.io/components/navigation-rail) which have explained its behaviour with backdrop (Check Backdrop section in the Guideline).

**Describe the solution you'd like**
The NavigationRail should rest on `backLayer` when backdrop is active (

[2020-05-16 18:25] daadu commented on #17
@WieFel Let me know your views on it.

[2020-05-17 08:22] WieFel commented on #15
This is a little strange.
If I execute your code snippet within the (project-intern) example app of backdrop, the problem doesn't show up.
But adding the snippet to a new empty flutter app does reproduce the problem.

At the moment I don't know what causes the problem. I suppose that it might be caused by the dynamic height calculation within backdrop. I have to look into this more in-depth.

@daa

[2020-05-17 08:26] amanv8060 commented on #15
A nice way to avoid it is to have this backdrop scaffold as a child of scaffold having a bottom nav bar

[2020-05-18 08:17] WieFel commented on #17
Interesting!
As far as I can see, NavigationRail is aimed for tablet/desktop sized screens, or am I wrong?
I think we could include it in the future, but I would suggest to do that after v1.0.

[2020-05-21 07:41] WieFel commented on #1
@marcpabst could you provide screenshots and a code snippet that reproduces the problem, please?

[2020-05-23 08:54] #4 closed

[2020-05-23 08:55] #2 closed

[2020-05-24 08:24] WieFel commented on #5
@all-contributors please add @danielborges93 for bug,code

[2020-05-24 18:43] cicelcup opened #24 "[Enhancement] Front layer title"
Hello.
I'm not sure if it would be nice to add an optional feature where you can set the title (with basic configuration) of the front layer according to the text provided on the Backdrop navigation layer item?

[2020-05-24 18:55] WieFel commented on #24
This will be possible as soon as I merge #23 into master.
I will come back to you with a code snippet ;)

[2020-05-25 16:27] cicelcup commented on #24
Thank you very much... If you need any help, just let me know.

[2020-05-25 16:27] #24 closed

[2020-05-26 16:16] daadu opened #25 "Splitting widgets to different files"
**Is your feature request related to a problem? Please describe.**
To improve maintainability and readability of the package.

**Describe the solution you'd like**
Split `backdrop.dart` -> `scaffold.dart`, `navigation.dart`, `app_bar.dart`, etc. In `backdrop.dart` only export of all public widgets and classes. This change should not break `import 'package:backdrop/backdrop.dart';`. Check [`flutter

[2020-05-26 16:47] daadu commented on #3
@MahdiPishGuy This feature request is not part of Material Design Guideline on backdrop. Hence is out of scope of this package. Closing this issue.

[2020-05-26 16:47] #3 closed

[2020-05-27 11:25] #6 closed

[2020-05-27 11:27] daadu commented on #5
Congrats @WieFel - We have implemented all widgets planned. Give yourself a pat in your back!!

[2020-05-27 13:16] felixwortmann opened #26 "Add Subheader option"
I think it would be a good idea to make it possible to add a header for the FrontLayer while it is not visible

According to the [Material Design](https://material.io/components/backdrop#usage) guidelines it should also be part of a backdrop

It should look like this (at the bottom):

![image](https://user-images.githubusercontent.com/45035656/83023243-ef2e1000-a02c-11ea-9304-8125a0af6d2d.png)

[2020-05-27 14:22] daadu commented on #26
It was originally planned. But I don't know what is the best way to implement this. Do you have any idea?

Also @WieFel what do you think about it?

[2020-05-27 14:25] daadu commented on #26
Should it be an attribute (say `Widget subHeader`) in `BackdropScaffold` ? or Should we make another widget (say `BackdropSubHeaderFrontLayer`) which can be dropped in as `frontLayer` (As we did this with `BackdropNavigationBackLayer`).

@felixwortmann @WieFel Let me know your views.

[2020-05-27 14:31] felixwortmann commented on #26
I think just a widget (SubHeader) would be good. I did not read the code where this has to be added so I can not say which would be easier to implement.

[2020-05-27 14:58] daadu commented on #26
I think `subHeader` attribute is better given that it is of type `Widget` so that it is customisable enough but also default `TextStyle` and `Padding`

[2020-05-27 15:01] daadu commented on #26
Also with `stickyFrontLayer` we need to make sure that the `subHeader` is visible when `backLayer` is active

[2020-05-28 14:28] felixwortmann commented on #26
I did not read all the code so I also do not know the best way. This might help though: https://medium.com/@CORDEA/implement-backdrop-with-flutter-73b4c61b1357

[2020-05-28 16:12] WieFel commented on #26
I think it is already possible to implement it with the package as it is right now. Every front layer would have to consist of a `Column` that contains the subheader and the front layer content.

Another way would be to add a `BackdropSubHeaderFrontLayer`, as @daadu already mentioned. I think it could look like this:
[code]
Where `header` and `body` would be of type widget.

[2020-05-28 17:34] felixwortmann commented on #26
I just wrote a litttle POC for myself. It only shows the SubHeader when the FrontPanel is closed. You can take a look [here](https://github.com/felixwortmann/backdrop/tree/sub-header)

[2020-05-28 17:35] felixwortmann commented on #26
Currently there is a filter which makes it

[2020-05-29 02:50] daadu commented on #26
@WieFel I would suggest going with `subHeader` attribute to `BackdropScaffold` instead of `BackdropSubHeaderFrontLayer` widget - primarily because of handling `stickyFrontLayer` when `subHeader` is presents. MDG mandates that the subHeader should be visible. Also because sub-header is MDG is defined as main component (although optional) of the Backdrop Anatomy.

I would suggest:
1. add `final Widg

[2020-05-29 03:07] daadu commented on #26
I will be working on this weekend.

[2020-05-29 03:18] daadu commented on #7
This will be a separate Flutter Project within this project (like: `example`) named `demo`. This app  would be a like `gallery` app (https://gallery.flutter.dev) provided by Flutter to demonstrate all `material` and `cupertino` widget with code snippet embedded in itself.

Check the following screenshot from `gallery` app:
<img width="1280" alt="Screenshot 2020-05-29 at 8 42 56 AM" src="https://us

[2020-05-29 03:21] daadu commented on #7
@WieFel Let me know your views.

Self-assign it to yourself if you are interested in working on this.

[2020-05-29 03:24] daadu commented on #12
- Possibly should be triggered with Github Actions
- Possible should have option to toggle between screen sizes - `mobile`, `tablet` and `desktop`

[2020-05-29 06:24] felixwortmann commented on #26
Sounds good

[2020-05-29 12:50] WieFel commented on #26
@daadu Yes, sounds good! :)

[2020-05-29 12:57] WieFel commented on #7
I will be working on this in the next time!

[2020-05-30 19:53] daadu opened #28 "rename inactiveOverlayColor to scrimColor"
- `scrimColor` is appropriate term as defined in MDG for Backdrop and it is also used for other material components like - `Drawer`, `Scaffold`, etc.
- make it in a backward compatible way  - with deprecation warning, actually deprecating it in v1.0.0

[2020-05-30 19:53] daadu commented on #28
@WieFel What do you think about it?

[2020-05-30 19:58] daadu commented on #28
I am closing this, looks like it is not a good idea in retrospect.

[2020-05-30 19:58] #28 closed

[2020-05-30 20:24] daadu commented on #26
@WieFel @felixwortmann I have written this feature. Please check and give me your feedback.

`BackdropSubHeader` is undocumented. I need your help for this!

[2020-06-03 11:13] daadu opened #31 "make _BackdropScaffoldState public and document it"
- [x] make `_BackdropScaffoldState` public
- [x] members to be documented
  - [x] `AnimationController get controller`
  - [x] `bool get isBackLayerConcealed`
  - [x] `bool get isBackLayerRevealed`
  - [x] `void fling()`
  - [x] `void revealBackLayer()`
  - [x] `void concealBackLayer()`

[2020-06-04 10:54] daadu commented on #31
I would suggest we also use the term "reveal" and "conceal" every where in documentation where ever we have mentioned "backLayer is visible" or "frontLayer is visible"

[2020-06-04 12:28] daadu commented on #31
This should be worked on after #32 is merged with `master`

[2020-06-04 13:14] daadu opened #34 "Proposal Document for web/desktop"
TODO

[2020-06-04 18:50] heath3n opened #35 "Only expand as much as needed to reveal the back layer"
Currently the back layer expands fully; it should only expand as much as needed to fully show its contents.

[2020-06-04 19:09] WieFel commented on #35
This is implemented by the property `stickyFrontLayer` which defaults to `false`. You can set it to `true` and it will adapt to the back layer's height.
[code]

[2020-06-05 08:32] daadu commented on #35
@heath3n This only works if the height of the back layer widget is bounded. If you are using `ListView` or something similar set `shrinkWrap` to `true`

[2020-06-05 09:59] #26 closed

[2020-06-06 08:43] #25 closed

[2020-06-06 15:06] #31 closed

[2020-06-16 19:50] WieFel commented on #7
I did some brainstorming and came up with the following:
My idea would be to implement the demo app using a side drawer from where the different use-cases can be opened:
![drawer](https://user-images.githubusercontent.com/8345062/84820452-f5a31c80-b019-11ea-922b-617893fe8769.png)

The app opens with one default use-case already on the main screen. The action bar has two buttons, one for switching

[2020-06-17 10:21] daadu commented on #7
I was thinking of a `MainPage` which List all the use cases. Upon clicking any one, we do `Navigation.push` with `FloatingActionButton` (which would not be in source code) on the `DemoPage` to go back to `MainPage`.

check the following layout of `DemoPage`:
- Mobile Demo in Full Screen
   <img width="1275" alt="Screenshot 2020-06-17 at 3 43 44 PM" src="https://user-images.githubusercontent.com/49

[2020-06-17 10:42] daadu commented on #7
Instead of `FloatingActionButton`  AppBar - leading with back button (default) is also a good option.

Check the following:

  <img width="367" alt="Screenshot 2020-06-17 at 4 09 02 PM" src="https://user-images.githubusercontent.com/4963236/84888466-f50b9400-b0b4-11ea-90d0-1f3e6443a614.png">

I suggest we use same colour scheme as Gallery App. We could potentially make these feature as another ind

[2020-06-17 19:38] WieFel commented on #7
@daadu ok LGTM, I will try to implement it as you described!

[2020-06-22 16:57] WieFel commented on #7
@daadu Actually I have an idea:
What about forking the flutter gallery app and throwing out all not-needed stuff?

[2020-06-23 11:23] daadu commented on #7
@WieFel Go Ahead.

[2020-06-23 12:12] PHPadawan opened #38 "Disable splash animation on AnimatedIcon"
Hi,

is there a way to disable the splash animation on the AnimatedIcon?

[2020-06-23 12:35] WieFel commented on #38
You can set a custom `leading` widget on your `BackdropAppBar` in order to achieve this. Add the following to the app bar:

[code]

`Builder` is necessary to be able to access the backdrop widget from within the build context.
The `IconButton` is basically the same as [here](https://github.com/fluttercommunity/backdrop/blob/043f6e043c7c86ccdb36aaa7fdd306486e3ccae4/lib/button.dart#L42). Setting `sp

[2020-06-23 15:43] PHPadawan commented on #38
Thank you very much, works great! :)

[2020-06-23 15:43] #38 closed

[2020-06-26 15:54] WieFel commented on #7
@daadu in the end, taking the complete gallery app seems to be overkill.
So I only take the theme from it.

In terms of use cases, I found the following 4 [here](https://material.io/components/backdrop#usage):
1. Back layer provides contextual information about the front layer.
-> any simple idea here? @daadu
2. Back layer displays contextual controls that relate to the front layer.
-> e.g. back l

[2020-06-26 16:12] daadu commented on #7
@WieFel Your suggestions look ok to start with.

[2020-06-27 14:30] WieFel opened #39 "After first backdrop toggle: back layer revealed on every front layer click regardless of location"
**Describe the bug**
In a very simple setting, after having toggled backdrop for the first time (to reveal back layer), the front layer becomes non-responsive and toggles backdrop on every front layer click.

**To Reproduce**
Steps to reproduce the behavior:
Use this code
[code]

1. Click anywhere on front layer (nothing should happen)
2. Toggle backdrop to reveal back layer
3. Toggle backdrop to

[2020-06-28 13:41] hassanbasanjide opened #40 "[bug] header Height not updated once built"
if i change the height of Header by BLOC  and set it dynamic  the header Height  nothing
 changed.

[2020-06-28 15:03] WieFel commented on #40
Could you provide a simple code snippet with what you are trying to achieve?

Why do you need to change the height dynamically via BLOC?
Maybe you should have a look at the `stickyFrontLayer` property, which allows to automatically adapt the height to the back layer content.

[2020-06-28 15:14] WieFel commented on #39
This bug is connected to `subHeader`. It only appears when subheader is set...

[2020-06-28 15:47] daadu commented on #39
I am not able to reproduce the bug

![untitled](https://user-images.githubusercontent.com/4963236/85952081-9da6d700-b984-11ea-842c-98cc323d08c4.gif)

[2020-06-28 15:52] daadu commented on #40
@hassanbasanjide It could be because of flutter not redrawing the `BackdropScaffold`. Does setting `UniqueKey` to `BackdropScaffold` solve the issue?

As @WieFel suggested, share some code that could reproduce the bug.

[2020-06-28 18:57] WieFel commented on #39
Ok, let me check on other devices...

[2020-06-28 19:29] WieFel commented on #39
The problem is related with the beta channel. On stable channel, I cannot reproduce it either.
I am experiencing the problem while developing the demo app, which needs the beta channel for flutter web support...

[2020-06-29 08:12] hassanbasanjide commented on #40
@WieFel
class StoreSubScreen extends StatefulWidget {
  @override
  _StoreSubScreenState createState() => _StoreSubScreenState();
}

class _StoreSubScreenState extends State<StoreSubScreen>
    with TickerProviderStateMixin {
  String get store2 => null;
  AnimationController _controller;
  bool expanded = false;
  @override
  void initState() {
    _controller = AnimationController(
      reverse

[2020-06-29 08:21] hassanbasanjide commented on #40
@WieFel   stickyfrontlayer is true. and backlayers have a different height but nothing Changed.  ;(
the space of back layer witch have no content is blue.
actually the header height just accept one height at begin.
  @override
  Widget build(BuildContext context) {
    @override
    void changeController() {

      setState(() {
        expanded ? _controller.forward() : _controller.reverse();

[2020-06-29 08:25] hassanbasanjide commented on #40
![Screenshot (9)](https://user-images.githubusercontent.com/58950648/85990689-a4c2f900-ba07-11ea-94b3-34b61007e6fd.png)
![Screenshot (8)](https://user-images.githubusercontent.com/58950648/85990697-a7bde980-ba07-11ea-93ad-542243585b75.png)

[2020-06-29 08:30] hassanbasanjide commented on #40
@daadu   i need some things like images.  now what is your recommend?

[2020-06-29 13:48] daadu commented on #39
beta will probably land on stable channel some day. we need to fix this then.

[2020-06-29 15:24] WieFel commented on #39
Yes, I'll have a look at it.

[2020-07-01 15:07] hassanbasanjide commented on #40
The problem is you can't change the key which is created for the backdrop. And because of that when the backdrop changes in any state, the widget isn't being recreated and the height of the widget is not being redrawn. @daadu I can't set a new UniqueKey upon changing state because the BackdropScaffold doesn't accepts Key. And if I change the parent's key when the state changes It the backLayer Isn

[2020-07-01 17:21] daadu commented on #40
@hassanbasanjide I will look into this during weekend.

[2020-07-06 18:52] #39 closed

[2020-07-17 17:26] heath3n opened #42 "Use non-animated Icons with BackdropToggleButton"
**Request**
I'd like to use icons without being limited to those with current `AnimatedIconData` implementations; `AnimatedIconData` is an abstract class which must be extended to provide drawable path data which seems like overkill.

**What I've tried**
I tried not using `BackdropToggleButton` at all and just using my own button:
[code]
This results in an error (to be honest, I'm not quite sure w

[2020-07-17 18:24] WieFel commented on #42
You have to wrap your `IconButton` with a `LayoutBuilder` in order to work.
This is needed for `Backdrop.of(context)` to be able to access the `Backdrop` inherited widget.

[code]

[2020-07-17 18:28] #42 closed

[2020-07-18 14:56] WieFel commented on #40
@hassanbasanjide I had a look at it but it is still not enough code for me to reproduce the issue completely.
I pushed a version of `BackdropScaffold` containing the `key` property to the branch [scaffold_key](https://github.com/fluttercommunity/backdrop/tree/scaffold_key).

You can try to import it into your project like so (in your `pubspec.yaml`):
[code]
Try setting a key on `BackdropScaffold`

[2020-07-26 16:28] WieFel opened #43 "BackdropNavigationBackLayer: directly expose separatorBuilder instead of separator"
**Is your feature request related to a problem? Please describe.**
Not directly related to a problem.

**Describe the solution you'd like**
I need to have a navigation back layer that enables to customize separators for certain indices. Thus, instead of a property `separator`, the `BackdropNavigationBackLayer` could directly expose `separatorBuilder` to make indices customizable.

**Describe alter

[2020-08-07 08:39] pablo3x6 opened #45 "Menu button registers every click"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade to latest flutter
2. Click anywhere
3. Menu opens after every click anywhere
4. Be sad

**Expected behavior**
Whatever is in the container.

**Screenshots**
[https://i.imgur.com/eGnDTjW.gif](url)
**Desktop (please complete the following information):**
 - OS: Windo

[2020-08-07 08:50] WieFel commented on #45
Thanks for writing this issue @pablo3x6!
This bug is the same as in #39. It has already been fixed on the master branch of this repo.

However, the fix was not yet published on dart pub. You could meanwhile use the git repo as a dependency like so (in your `pubspec.yaml`):
[code]

[2020-08-09 19:05] #45 closed

[2020-08-10 13:21] daadu commented on #45
The fix for it has landed in `v0.4.2` on pub.dev

[2020-08-12 12:20] hassanbasanjide commented on #40
@WieFel Thank you I will look at this but I'm looking forward to see this in production

[2020-08-12 12:23] WieFel commented on #40
@hassanbasanjide let un know if it works

[2020-08-12 15:19] ankibhandari opened #46 "problem in scrolling front layer on change of grid delegate"
i want to change the grid delegate in sliver grid on the click of a button from back layer . Grid delegate does change but custom scrollview does not work on the changed grid delegate

[2020-08-12 18:56] amanv8060 opened #47 "Bug when we abruptly close the back layer"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Backdrop Scaffold with app bar and all
2. in back layer add a couple of list tile , one of them just opens up a webview or redirects you to playstore ,or something like that,
3. In front layer add a list view with elements such that occupy atleast double the scree

[2020-08-13 13:41] WieFel commented on #46
@ankibhandari please provide a more detailed description and a simplified code sample of your problem. Else we cannot help you.

[2020-08-13 13:43] WieFel commented on #47
@amanv8060 could you share your code or a simplified version of it, please?

[2020-08-15 06:56] ankibhandari commented on #46
import 'package:flutter/material.dart';

import 'package:provider/provider.dart';

import 'package:backdrop/backdrop.dart';

import 'package:font_awesome_flutter/font_awesome_flutter.dart';

import 'package:lazy_load_scrollview/lazy_load_scrollview.dart';

import '../providers/categories.dart';

import '../providers/tools.dart';

import '../providers/news.dart';

import '../widgets/news_item.dart'

[2020-08-15 07:02] ankibhandari commented on #46
this change properly works without backdrop package but with backdrop scroll doesn't work after the change of layout

[2020-08-15 11:57] #7 closed

[2020-08-15 12:05] #43 closed

[2020-08-17 07:30] WieFel commented on #46
@ankibhandari sorry to be so fussy but would you mind posting the code again (or editing your comment) using the ``` tags in order to format it as code and removing the empty lines? This would make it more easily readable...

[2020-08-19 18:24] ankibhandari commented on #46
import 'package:flutter/material.dart';
import 'package:provider/provider.dart';
import 'package:backdrop/backdrop.dart';

import 'package:font_awesome_flutter/font_awesome_flutter.dart';

import 'package:lazy_load_scrollview/lazy_load_scrollview.dart';

import '../providers/categories.dart';
import '../providers/tools.dart';

import '../providers/news.dart';
import '../widgets/news_item.dart';

c

[2020-08-19 18:24] ankibhandari commented on #46
please inform me if you require anything else

[2020-08-20 12:29] WieFel commented on #46
@ankibhandari thank you, I will have a look

[2020-08-27 07:01] WieFel commented on #46
@ankibhandari if you replace `BackdropScaffold` with a normal material `Scaffold`, are you facing the same problem?

[2020-08-28 07:10] ankibhandari commented on #46
No ,i am not facing any problem with normal material Scaffold. It is working correctly. I am attaching the code below which is working correctly.

return
        Scaffold(
            appBar: AppBar(
                title: Text(loadedProduct.name, style: TextStyle(fontSize: 15)),
                actions: <Widget>[
                  PopupMenuButton<String>(
                    icon: Icon(FontAwesom

[2020-08-28 07:15] ankibhandari commented on #46
No ,i am not facing any problem with normal material Scaffold. It is working correctly. I am attaching the code below which is working correctly.

@override
  Widget build(BuildContext context) {

    final loadedProduct =
        Provider.of<Categories>(context, listen: false).findById(newsId);
    final categoriesData = Provider.of<Categories>(context);
    final dNews = categoriesData.dummyNews

[2020-08-28 09:44] ankibhandari commented on #46
@override
  Widget build(BuildContext context) {

    final loadedProduct =
        Provider.of<Categories>(context, listen: false).findById(newsId);
    final categoriesData = Provider.of<Categories>(context);
    final dNews = categoriesData.dummyNews;
    final noData = categoriesData.noData;
    return Scaffold(

            appBar: AppBar(
                title: Text(loadedProduct.name, style

[2020-08-28 09:46] ankibhandari commented on #46
No ,i am not facing any problem with normal material Scaffold. It is working correctly. I have sent you the code above which is working correctly.

[2020-09-02 06:26] iLDA1997 opened #48 "color BackdropToggleButton"
how can i change color of BackdropToggleButton?

[2020-09-02 09:16] daadu commented on #48
Create any button you want and in `onPress` add `Backdrop.of(context).fling()` to it

[2020-09-02 10:21] iLDA1997 commented on #48
i need this icon with black color

BackdropToggleButton(
icon: AnimatedIcons.home_menu,),

[2020-09-02 10:22] iLDA1997 commented on #48
i need this icon with black color

BackdropToggleButton(
icon: AnimatedIcons.home_menu,),

[2020-09-02 13:24] WieFel commented on #48
You can take the code of [BackdropToggleButton](https://github.com/fluttercommunity/backdrop/blob/master/lib/button.dart) and adapt it to add the color property like so:
[code]

`LayoutBuilder` is necessary to make `Backdrop` accessible as it is an `InheritedWidget`. @iLDA1997 hope this helps.

@daadu maybe we should expose the `AnimatedIcon`'s `color` property of `BackdropToggleButton` in a futur

[2020-09-02 13:38] WieFel commented on #46
I am not able to run your code as it contains some custom classes/providers. I think your problem might be related with the state not updating correctly after the button click.
I suggest you to try some more debugging @ankibhandari.

[2020-09-02 14:08] daadu commented on #46
@ankibhandari Please provide smallest possible code snippet that can reproduce the error/bug.

Closing this issue till then.

[2020-09-02 14:08] #46 closed

[2020-09-02 14:10] daadu commented on #48
@WieFel Sure, Let's do it then.

[2020-09-02 15:31] iLDA1997 commented on #48
@WieFel @daadu

Thanks

[2020-09-05 08:02] WieFel commented on #48
@daadu just pushed this small change directly to master.

@iLDA1997 if you want you could meanwhile use the backdrop master branch as dependency and change the color like so:
[code]

Or simply wait for the next relase ;)

[2020-09-05 15:07] PembaTamang commented on #35
@daadu using a ListView and shrinkWrap did not work for me. What else can I do?

[2020-09-05 15:46] PembaTamang opened #49 "Cannot set inactiveOverlayColor to transparent"
The inactiveOverLayColor set to Colors.transparent does not work

My layout

[code]

I have also tried to set a color withAlpa(0) that is not working as well
Also there is no option to add a bottomnav or a bottomappbar in BackdropScaffold
like the regular scaffold.
![WhatsApp Image 2020-09-05 at 21 14 19](https://user-images.githubusercontent.com/32651212/92308666-ebf7d800-efbc-11ea-8353-b137ccf09

[2020-09-06 07:14] daadu commented on #35
@PembaTamang Please provide us with minimum code that can reproduce the issue. We will look into it.

[2020-09-06 07:18] daadu commented on #49
@WieFel The suggestion for adding `bottomNavigation` and `bottomAppBar` to `BackdropScaffold` like `Scaffold`, is good one. What do you think? And also can you please look into this issue?

[2020-09-06 07:51] PembaTamang opened #50 "Show front layer using another widget. reveal the front layer on tap of a button."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-09-06 07:51] WieFel commented on #49
@PembaTamang newest commit on master now offers the `bottomNavigationBar` to be set on `BackdropScaffold`. Please use the master branch as dependency until the next release is published on dart pub!

Regarding the issue with the transparent inactive color: The problem is that the `inactiveOverlayColor` is applied a `.withOpacity(0.7)` as defined by the material design guidelines. https://github.co

[2020-09-06 07:58] WieFel commented on #50
This is easily possible:
[code]

Use `Backdrop.of(context).fling();` from anywhere in the widget tree below `BackdropScaffold` to trigger the backdrop functionality. For more information check out [the backdrop demo project](https://github.com/fluttercommunity/backdrop/tree/master/demo).

[2020-09-07 09:04] PembaTamang commented on #49
sure I'll use the master branch and it seems like a good idea to let a customized inactive layer. That's what I tried soon as I setup this library. I guess it is necessary. Thanks for the response guys

[2020-09-07 09:05] PembaTamang commented on #50
oh yeah , didn't see that. I was just too excited to use this.

[2020-09-07 09:05] #50 closed

[2020-09-07 10:18] PembaTamang commented on #49
hey guys the bottomnavbar is working but the BackdropScaffold is still missing a thing.
When I add a fab to the bnb and make a notch the back of the notch is not transparent. The normal scaffold has an attribure `extendBody: true` that makes the notch bg transparent.
Please add that. Refer to [this](https://stackoverflow.com/questions/59455684/how-to-make-bottomnavigationbar-notch-transparent) pos

[2020-09-07 13:46] WieFel commented on #49
Done! Please use the latest commit on master @PembaTamang.

@daadu we should think of exposing **all** of the remaining properties of `Scaffold` so that `BackdropScaffold` can be used just like a normal scaffold, but adds the additional functionality to it.

[2020-09-07 17:04] daadu commented on #49
@WieFel I agree about adding all possible configurations of `Scaffold`, and about `inactiveOverlayColor`, transparency is essential, to make the content of `frontLayer` visible. I would suggest adding another attribute `inactiveOverlayOpacity` which defaults to `0.7` and is applied on `inactiveOverlayColor`.

For transparent overlay, user has to set `inactiveOverlayOpacity` to `0`, i guess that sh

[2020-09-07 18:15] WieFel commented on #49
Yeah that's a good idea! I think a property `inactiveOverlayOpacity` works well. Will implement this in a feature branch tomorrow.

[2020-09-08 03:59] PembaTamang commented on #49
yes making it an enchanced Scaffold with all the properties is the way to go. Eagerly waiting to use this.

[2020-09-08 09:39] amanv8060 commented on #35
[code]
use this as Your Backlayer
and dont give header height

[2020-09-08 13:28] WieFel commented on #35
I could not reproduce the problem. For me it works fine using your BackLayer and `stickyFrontLayer: true`.
Maybe take a look at https://github.com/fluttercommunity/backdrop/blob/b547c82135dff6ade44473af54a861d513e087ac/lib/navigation.dart#L72-L87 which implements basically the same thing.

Which flutter channel are you using and do you use the newest version of it?

[2020-09-09 06:49] daadu commented on #35
@amanv8060 Just to confirm, did you set `stickyFrontLayer` to `true` for `BackdropScaffold`?

[2020-09-09 07:17] amanv8060 commented on #35
this was causing issue . Close this , if the issue author has no problem

[2020-09-09 08:21] #35 closed

[2020-09-09 08:47] amanv8060 commented on #47
`PlatformException(error, No Activity found to handle Intent { act=android.intent.action.VIEW dat=market://details?id=com.ophilia.allcppprograms (has extras) }, null)` i think the issue is due to url launcher plugin , Due to anonymous closure , it is happening i guess , I think we could close this here

[2020-09-09 08:47] #47 closed

[2020-09-10 07:14] PembaTamang commented on #49
is it ready guys??

[2020-09-10 07:57] WieFel commented on #49
Waiting for @daadu's review on the pull request... Going to be ready very soon.

[2020-09-10 09:04] #49 closed

[2020-09-10 09:16] daadu commented on #49
This feature has landed in [`v0.4.4` on pub.dev](https://pub.dev/packages/backdrop/versions/0.4.4)

[2020-09-10 09:16] daadu commented on #48
This feature has landed in [`v0.4.4` on pub.dev](https://pub.dev/packages/backdrop/versions/0.4.4)

[2020-09-10 09:16] #48 closed

[2020-09-10 09:21] daadu commented on #15
@amanv8060 We have added all `Scaffold` properties (including `bottomNavigationBar`) to `BackdropScaffold` in `v0.4.4`. Please check if that solves the issue.

[2020-09-10 09:23] daadu commented on #1
@marcpabst Closing this issue because of inactivity. Feel free to request to re-open.

[2020-09-10 09:23] #1 closed

[2020-09-10 13:38] PembaTamang commented on #49
thanks a ton!!!  @daadu @WieFel

[2020-09-12 08:27] amebrahimi commented on #40
@WieFel I want to use this
[code]
but I can't is there any permissions you have to give or something?

[2020-09-13 08:01] WieFel commented on #40
Maybe try `url: https://github.com/fluttercommunity/backdrop.git`

Does that work?

[2020-09-16 08:30] proninyaroslav commented on #40
@daadu
I faced a similar problem. Calling `setState` changes the height of the widget, but this doesn't affect the height of the back layer, it stays the same. I also tried the `scaffold_key` branch, but it has similar behavior.

[code]

[2020-09-16 08:35] proninyaroslav commented on #40
![backdrop](https://user-images.githubusercontent.com/7840559/93313127-b77fe980-f810-11ea-8d91-ae56ec0e8634.gif)

[2020-09-16 09:28] WieFel commented on #40
@proninyaroslav thanks for the code example.

The problem is that changing the height of the back layer only affects the back layer itself and its children. The problem here is that `BackdropScaffold` (which is the parent of back layer) isn't updated, not even using the `scaffold_key` branch.
The original idea was that the back layer would keep its height always the same.

@daadu to solve the prob

[2020-09-16 09:46] proninyaroslav commented on #40
@WieFel
Thank you for response. Is there a workaround for now? I would like to use a backdrop in app, like a hybrid of Navigation Drawable + Top Sheet (this concept is in the official guideline).

[2020-09-16 12:09] WieFel commented on #40
I will have a look asap and provide you with a feature branch you can use meanwhile...

[2020-09-16 12:49] daadu commented on #40
@WieFel `updateBackLayerHeight` idea seems like a workaround.

Proper fix would be to not set `headerHeight` etc, on `initState` and do it instead in `build` itself, I am working on this. Meanwhile you can provide with the workaround to @proninyaroslav

[2020-09-16 13:36] daadu commented on #40
I am worked on the fix in branch `fix/stickyHeaderWhenBackLayerUpdated`

@proninyaroslav @amebrahimi Please test the fix by pointing to this branch in `pubspec.yaml`

@WieFel Can you also test this changes against demo app? And I don't think we need to go for workaround now!

[2020-09-16 13:47] daadu commented on #40
@proninyaroslav Once this is fixed, can you work on adding this use case  to the demo app (flutter app to demonstrate all use cases in MDG for backdrop), it is under `demo/` dir?

Or @WieFel have we already covered it?

@proninyaroslav Can you post the screenshot form MDG that explains this use case?

[2020-09-16 13:50] daadu commented on #40
@hassanbasanjide Sorry, for being 2 months late. The problem only got clear when @proninyaroslav posted a reproduceable code.

[2020-09-16 14:19] proninyaroslav commented on #40
@daadu
Yes, now it works as expected. Thank you.

Ok, let me know.

[2020-09-16 15:49] WieFel commented on #40
Well there is no specific use case for targeting a changing back layer height in the material design guidelines.
Not sure if we should add this as separate use case to demo app. In my opinion the dynamic height of the back layer is actually a feature that one would already expect from this package...

[2020-09-16 15:57] proninyaroslav commented on #40
@WieFel
This is mentioned here, in the "Revealing the back layer" section https://material.io/components/backdrop#behavior

![ezgif com-resize](https://user-images.githubusercontent.com/7840559/93362223-67c01300-f84e-11ea-9a37-e68e06cdeb8b.gif)

[2020-09-16 16:11] proninyaroslav opened #54 "[bug?] Revealed back layout in post frame callback is not concealed"
Hi. I was trying to simulate the automatic revealing of the back layer right after the widget tree was created. For this, I placed a `BackdropScaffoldState::revealBackLayer()` call in `WidgetsBinding.instance.addPostFrameCallback()`. It works, but there is a side effect: when I tap the "Close" button to conceal the back layer, it doesn't concealed, it just doesn't respond when clicked. I gave an e

[2020-09-16 16:20] WieFel commented on #54
@proninyaroslav the problem is you are calling
[code]
every time the build method is executed. So back layer always gets revealed when the UI is repainted.

Convert the `BackLayer` to a `StatefulWidget` and put the code within `initState()` instead of `build()`. This way, the code is executed only after the very first paint.

[2020-09-16 16:22] proninyaroslav commented on #54
Thank you.

[2020-09-16 16:22] #54 closed

[2020-09-16 18:23] proninyaroslav commented on #40
@daadu @WieFel
Is it possible to animate the transition between the back layers when one of the layers is already revealed? In other words, moving to a second back layer with a different height makes the front layer lower/upper, but without any animation.

![ezgif-5-bc3289b2be3a](https://user-images.githubusercontent.com/7840559/93376672-98aa4300-f862-11ea-83eb-05c11d975de2.gif)

[code]

[2020-09-16 18:39] daadu commented on #40
This fix has landed in [`v0.4.5` on pub.dev](https://pub.dev/packages/backdrop/versions/0.4.5)

@hassanbasanjide @proninyaroslav  Check yourself on repo and pub README!!

[2020-09-16 18:41] daadu commented on #49
@PembaTamang  Check yourself on repo and pub README for your contribution!!

[2020-09-16 18:41] daadu commented on #48
@PembaTamang  Check yourself on repo and pub README for your contribution!!

[2020-09-16 18:52] daadu commented on #48
@iLDA1997  Check yourself on repo and pub README for your contribution!!

[2020-09-17 04:29] PembaTamang commented on #49
@daadu wow thanks!!

[2020-09-17 07:41] daadu commented on #12
Requested for Github Pages setting https://github.com/fluttercommunity/community/issues/55

[2020-09-18 07:08] hassanbasanjide commented on #40
@daadu   thank you for your response. ;)

[2020-09-18 13:11] daadu commented on #40
@proninyaroslav Use `AnimatedSize` widget around `backLayer`

[2020-09-19 05:00] daadu commented on #40
@proninyaroslav Can you raise this as a new issue? I think this should be resolved. What about you @WieFel ?

[2020-09-19 05:32] daadu commented on #40
This is working:

[code]

[2020-09-19 05:33] daadu commented on #40
The issue was that `_MeasureSize` is notifying size change

[2020-09-19 05:34] daadu commented on #40
The issue is `_MeasureSize` is notifying sizeChange only at start of animation. I think using `SizeChangedLayoutNotifier` inside `_MesureSize` should work out of the box.

[2020-09-19 05:45] daadu opened #55 "[bug] size change callback from `_MeasureSize` not working with `AnimatedSize`"
**To Reproduce**

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![](https://user-images.githubusercontent.com/7840559/93607207-b1853680-f9d1-11ea-966d-89cb027bdc2d.gif)

**Additional context**
Reported by: @proninyaroslav

[2020-09-19 05:46] daadu commented on #40
Closing this issue, this issue will be further tracked at #55

[2020-09-19 05:46] #40 closed

[2020-09-19 06:04] daadu opened #56 "[bug] `backLayer` without expand constraint child messes the layout"
**To Reproduce**
[code]

**Expected behavior**
`backLayer` should always expand.

**Screenshots**
![Screenshot_1600495418](https://user-images.githubusercontent.com/4963236/93660395-05445e00-fa6c-11ea-99d8-a6686178efee.png)

[2020-09-19 06:11] daadu commented on #55
@proninyaroslav Test the fix against `fix/measure_size` branch.

[2020-09-19 08:14] proninyaroslav commented on #55
Works great, thanks.

[2020-09-19 08:15] #55 closed

[2020-09-19 08:19] #56 closed

[2020-09-19 09:22] proninyaroslav opened #59 "[BackdropNavigationBackLayer] Customizable InkWell border"
**Is your feature request related to a problem? Please describe.**
All `BackdropNavigationBackLayer` elements are wrapped in `InkWell` to make them clickable, but this creates a problem: it's impossible to customize the ink splash border, for example, set the border radius. A naive solution is to use `ListTile` as a list item, but in this case `InkWell` is the parent of `ListTile` and implicitly o

[2020-09-19 10:46] WieFel commented on #59
@proninyaroslav you are right, thanks for pointing this out!

If you want, create a pull request. But why do you add a `Padding` of 8.0 around `BackdropNavigationBackLayer`? I think we could not take this as general solution because someone might not want any padding and wouldn't be able to remove it then...

I suggest to expose not only `customInkWellBorder` as an attribute of `BackdropNavigation

[2020-09-19 10:50] proninyaroslav commented on #59
This is a demo app, not a widget. Just to make it look better with rounded corners.

Yes, I think this is the best solution.

[2020-09-19 10:51] WieFel commented on #59
Ok, so if @daadu agrees on this I will make the changes and create a pull request.

[2020-09-19 11:57] daadu commented on #59
`BackdropNavigationBackLayer` in my opinion is just a simple drop in to do "navigation" with backdrop.

I recommend you simply use `ListView` with `backLayer` and build from there.

`BackdropNavigationBackLayer` is simply the following:
[code]

Similarly other widgets like `BackdropToggleButton`, `BackdropSubHeader`, etc in this package (except `Backdrop` and `BackdropScaffold`) are just drop in f

[2020-09-19 12:07] daadu commented on #59
As far as demo is concerned, setting proper property of theme with `ThemeData.splashColor` would do the job

[2020-09-19 15:11] proninyaroslav commented on #59
@daadu
You're right, but using `BackdropNavigationBackLayer`, we assume that we can pass any widget there with our own style. But because `InkWell` is the parent for these widgets, we cannot customize the style of the ink splash.
In this case:
1. It would be possible to simplify the widget by passing only text strings there, not widgets, so as not to be misleading.
2. It's also possible to pass ex

[2020-09-20 10:13] lt94 opened #60 "fontLayer background Color"
i use this code
[code]
or
[code]
but,the container color  didn't change. is there any wrong with my code?

[2020-09-20 10:54] WieFel commented on #60
Try to give it some `height` and `width` or give it a `child`. Does that help?

[2020-09-20 13:46] lt94 commented on #60
thx! it solved my problem~~

[2020-09-20 13:46] #60 closed

[2020-09-28 09:17] amanv8060 commented on #15
@daadu , it got missed  , i will try and if the problem has been solved , i will close this .

[2020-10-02 16:35] daadu commented on #12
Demo app hosted at https://github.com/fluttercommunity/backdrop/demo

[2020-10-02 16:52] #12 closed

[2020-10-02 16:57] WieFel commented on #12
@daadu small side note: I get 404 when opening https://github.com/fluttercommunity/backdrop/demo

[2020-10-02 17:05] daadu commented on #12
Oops!! updated the link.

[2020-10-02 17:20] daadu opened #62 "Spin-off "demo" app components as separate package."
Time to spin-off the components of demo app that could be reused by other package maintainer to build similar "demo" app.

Here are some pointers/questions about it:

- What should we call it? - `demo_maker`, `demoize`, `gallerize`, or something else (suggest in comment)
- @WieFel I suggest you be the primary maintainer of the project and repo.
- Some feature still needs to be implemented to make

[2020-10-02 17:22] daadu commented on #62
@WieFel Go ahead with it man!

[2020-10-03 07:51] WieFel commented on #62
@daadu will think about it and come back to it!

[2020-10-06 17:41] daadu commented on #62
Issue further discussed at https://github.com/WieFel/gallerize/issues/1

[2020-10-22 18:18] daadu commented on #59
Sorry for responding late @proninyaroslav.

@WieFel What are your views?

[2020-10-23 12:53] WieFel commented on #59
The widget still has to be customizable. Only allowing to pass text and icon would not suffice, in my opinion.

The `ListView` that encloses the list still has to manage the navigation's `onTap` and the ripple effect when tapping the list's elements. Therefore, the `InkWell` is needed.

You are right. Maybe we start with exposing only properties necessary for customizing the splash effect

@daadu

[2020-10-23 15:26] daadu commented on #59
Ok then.

@proninyaroslav Can you file PR for customising `InkWell` options in `BackdropNavigationBackLayer`?

[2020-10-26 13:37] WieFel commented on #59
@daadu @proninyaroslav I will create the pull request, as I personally need the features as well asap.

[2020-10-27 14:41] #59 closed

[2020-10-28 06:32] daadu commented on #59
This feature has landed with [`v0.4.7` on pub.dev](https://pub.dev/packages/backdrop/versions/0.4.7).

[2020-11-12 11:03] WieFel commented on #62
@daadu I will adapt demo app to use https://github.com/WieFel/gallerize asap.

[2020-11-12 12:23] #62 closed

[2020-11-12 12:24] daadu opened #67 "[demo] use gallerize package for the implementation"

[2020-11-12 14:49] WieFel commented on #67
Done!

[2020-11-12 14:49] #67 closed

[2020-11-16 07:28] farokhze opened #68 "swipe body to close"
Hello,
How can i close backdrop by swipe to top?

[2020-11-16 17:08] WieFel commented on #68
Hi @farokhze, this package doesn't support swipe gestures out of the box as it is not recommended according to [material design guidelines](https://material.io/components/backdrop#behavior):
![dont](https://user-images.githubusercontent.com/8345062/99284357-728b2a00-2836-11eb-99cc-361604065231.png)

If you still need to do it, I suggest you try with using `GestureDetector`, maybe by wrapping your

[2021-01-08 20:41] bielzim0 commented on #42
This LayoutBuilder should be added to the documentation, it helped me a lot since I wanted to make a different animated icon without the limitations of AnimatedIcons.

[2021-01-10 22:46] mockturtl opened #70 "allow variable height front pages"
**Is your feature request related to a problem? Please describe.**

My first front page is a large form.  It displays well.

![Screenshot from 2021-01-10 17-34-12](https://user-images.githubusercontent.com/705804/104137374-23f79900-536a-11eb-85e4-4216077b2ab1.png)

My second front page is mostly empty:

![Screenshot from 2021-01-10 17-33-08](https://user-images.githubusercontent.com/705804/1041373

[2021-01-11 05:08] daadu commented on #70
@mockturtl Have you tried `stickyFrontLayer` and `headerHeight` arguments of `BackdropScaffold`, to get desired UI?

[2021-01-11 22:54] mockturtl commented on #70
- Playing with values in `example/lib/navigation.dart`, my understanding of the [`stickyFrontLayer`](https://pub.dev/documentation/backdrop/latest/scaffold/BackdropScaffold/stickyFrontLayer.html) behavior is "When closed, the front layer will occupy as much height as possible without occluding the back layer.  If the back layer occupies the entire screen height[1], this parameter has no effect."

[2021-01-12 07:06] daadu commented on #70
@mockturtl Thanks for pointing out problem in `headerHeight` docs, will correct it.

Regarding your requirement, as far as I understand(from checking Crane example), you want to have "extra" space under appbar, that is visible even when the `backLayer` is concealed.

A solution for that would be to set `bottom`  of `BackdropAppBar`. Check the following code (modified example/main.dart):

[code]
Sc

[2021-01-12 15:56] willlarche commented on #70
@mockturtl Hi! So wonderful to see this implementation. Much thanks to everyone working on expanding Material coverage in the community.

We have no issue with that! Go for it!

[2021-01-12 20:48] mockturtl commented on #70
Not really.  I want the front layer's height to be configurable for each page.  I'm not sure how to explain differently.

# Back layer and appbar look good

![Screenshot from 2021-01-12 15-36-27](https://user-images.githubusercontent.com/705804/104369844-0e11e180-54ec-11eb-9377-dce823a69b4f.png)

# Front layer: Current behavior

![Screenshot from 2021-01-12 15-36-32](https://user-images.githubuser

[2021-01-13 05:25] daadu commented on #70
@mockturtl Ok, got your point. Go ahead with the PR! BTW, what should we name the param? Any idea?

Few of my suggestions:
  - `double frontLayerStartFrom: 0`
  - `double frontLayerTopMargin: 0`
  - ??

Also while filing PR can you correct the docs for `headerHeight` - instead of using "closed" and "open" term (earlier we used them), use phrases like "when `backLayer` is concealed/revealed", that

[2021-01-13 06:15] daadu commented on #68
Closing this issue, since out of scope of this package.

However, as @WieFel suggested you can do it wrapping your `frontLayer` with `GestureDetector` and calling `Backdrop.of(context).concealBackLayer` (make sure the `context` passed is of the widget below `BackdropScaffold`). Something like the following:

[code]

[2021-01-13 06:15] #68 closed

[2021-01-13 14:14] bielzim0 opened #71 "Back panel color transition"
**Is your feature request related to a problem? Please describe.**
I can't make the back screen be the way I like, I thought on wrapping everything in a container but it also changed the color when it is behind the front panel.

**Describe the solution you'd like**
I think a parameter for the transition duration and another 2 for the initial color and the final color would solve it.

**Describe al

[2021-01-13 19:19] WieFel commented on #71
@bielzim0 can you please share some screenshot and minimalistic code snippet of your tryings?

[2021-01-14 05:58] daadu commented on #71
@bielzim0 set `backLayerBackgroundColor` in `BackdropScaffold` to `Colors.White`, you are getting a mixed color because it is set to `Theme.accentColor` by default.

[2021-01-14 10:56] bielzim0 commented on #71
I'll try this as soon as I get home

[2021-01-14 10:57] bielzim0 commented on #71
I'll send as soon as I get home

[2021-01-14 18:42] bielzim0 commented on #71
I want this pink highlight to transform in white
![flutter_01](https://user-images.githubusercontent.com/56176344/104634092-edc65c00-567e-11eb-85c5-7010b950fe86.png)

the end I have:
![flutter_02](https://user-images.githubusercontent.com/56176344/104634122-f7e85a80-567e-11eb-8ab4-f1292a8b36e2.png)

the end I want:
![flutter_03](https://user-images.githubusercontent.com/56176344/104634145-00409580

[2021-01-16 11:05] WieFel commented on #71
@bielzim0 I am not sure if I understood your problem correctly.
1. If your problem is the pink corners showing on the back layer:
![104634092-edc65c00-567e-11eb-85c5-7010b950fe86](https://user-images.githubusercontent.com/8345062/104809546-6566c900-57ee-11eb-8ac7-eb6d1fa624cc.png)
Then the simple solution to it is to use a clipped back layer like this:
[code]
Which looks like this:
<img width="30%

[2021-01-17 12:38] bielzim0 commented on #71
The second was what I wanted to do, thank you so much.

[2021-01-17 12:44] #71 closed

[2021-01-26 13:55] rtr-dnd opened #72 "Reverse curve for expanding/shrinking BackdropScaffold"
**Is your feature request related to a problem? Please describe.**
I want to set different animation curves for expanding/shrinking the scaffold.
I tried to set the animation curve to `ease`, and while expanding worked fine, shrinking looked weird because `ease` animation is asymmetric. Similar issue below:
https://github.com/flutter/flutter/issues/39086

**Describe the solution you'd like**
As sh

[2021-01-29 19:54] WieFel commented on #72
@rtr-dnd ok, we can add a new property `reverseAnimationCurve` which defaults to `animationCurve.flipped`, as described in the mentioned issue. We can make `animationCurve` default to `Curves.ease` instead of `Curves.easeInOut` too (also if I cannot notice much difference between the two :D)

@daadu is that ok? I can do the changes and make PR

[2021-01-30 13:44] daadu commented on #72
@WieFel You have my blessings!

[2021-02-02 07:27] #72 closed

[2021-02-12 19:29] hanskokx opened #75 "Horizontal layout"
I would like to see a horizontal layout, wherein the backLayer can be positioned on either the left or right side of the screen.  Upon revealing the backLayer, the frontLayer would slide to the side.  This would allow me to use the same code for both wide and narrow layouts, rather than trying to switch controls.  I'm looking into NavigationRail as a possible solution for my wide layouts, but this

[2021-02-13 05:37] daadu commented on #75
#17 #34 are the issues for the particular feature. will be working on it after closing #5

[2021-02-13 05:40] daadu commented on #75
@hanskokx Most of v1.0 is closed (except proper documentation), you can go ahead and start working on it in backwards-compatible way. Ideally, we should be implementing it with `BackdropScaffold` itself, can you design the APIs to achieve (horizontal layout or `NavigationRail`) it?

[2021-02-15 20:45] hanskokx commented on #75
I have been pondering how best to achieve this, and I would agree that `NavigationRail` should be considered.  With the current method of using a standard `AppBar`, there doesn't appear to be an elegant method to conceal the `BackPage` header and expose the left (or right) side of the screen.  Perhaps `NavigationRail` will solve this, as it is adaptive.  If/when I get some time, I'll experiment an

[2021-02-19 19:10] TenPetr opened #76 "Close back layer programatically [need to document it]"
It would be great, if you could close or toggle between front and back layers programatically without using BackdropToggleButton. I did not find a way, how to do it.

For example - I am using some filters in this widget and when user select filter, I would like to close back layer automatically, without user need to click on toggle button in the appbar's actions.

If you have any idea, how to impl

[2021-02-19 19:30] WieFel commented on #76
Hi @TenPetr.
This is obviously possible. Just use the following code snippets in any point of your code (but below `BackdropScaffold` within the widget tree!):
[code]
to reveal (show) the back layer, and
[code]
to conceal (hide) the back layer.

If you want to use this directly within the widget in which you build your `BackdropScaffold`, you have to wrap the call to `Backdrop.of(context)` into a

[2021-02-19 19:42] TenPetr commented on #76
That is amazing! I tried this solution, but I did not have my widget wrapped in the LayoutBuilder, so that is why my code did not work. Thank you so much!

[2021-02-20 06:04] daadu commented on #76
@WieFel Should we put this in README? Under headline "Accessing the internal state of Backdrop".

[2021-02-20 06:34] WieFel commented on #76
@daadu yes, I thought so too!

[2021-02-20 06:51] daadu commented on #76
I am opening this issue until it is put in README. Also `Builder` should be used instead of `LayoutBuilder`, which is more generic. Also in the [doc and FWoTW video](https://api.flutter.dev/flutter/widgets/Builder-class.html), it specifies the use-case that we want that is - "Need to look up a parent in the same build method".

[2021-02-20 06:59] daadu commented on #76
Also need to specify that the "Builder wrapper" is not mandatory, in case if `Backdrop.of` is called with separate widget (which has to be the child of `BackdropScaffold`) it not required as the `context` passed is of that widget. It is only required if `Backdrop.of` is called with in the same `build` method where the root `BackdropScaffold` is initialized.

This applies to other `.of` method of `

[2021-02-20 07:46] daadu commented on #76
@WieFel Created PR for documenting it. Also @TenPetr is the "Note" clear enough to explain why `Builder` is required or more explanation with code is required?

[2021-02-20 08:03] #76 closed

[2021-02-20 08:42] TenPetr commented on #76
@daadu Yes, I think I understand.

Also, what I have noticed here, when you have one or more FloatingActionButton, they are still visible, even when back layer is toggled on. Do you think there is any setting or an option, how to hide these or should I just use `Backdrop.of(context).isBackLayerConcealed` to hide or show them? @WieFel

Thanks a lot!

[2021-02-20 08:46] daadu commented on #76
There are callbacks in BackdropScaffold that you can use - onBackLayerConcealed and onBackLayerRevealed.

[2021-02-20 08:48] TenPetr commented on #76
Perfect, I will include my code snippet here

[code]

[2021-02-20 08:56] TenPetr commented on #76
Also, one more thing please.. When I have a form in the back layer and keyboard opens, this bottom transparent "gap" will jump above the keyboard. Is there any way, how to set my keyboard to overlay this bottom gap?

I am including some images here.

Thanks for your suggestions

![IMG_5548](https://user-images.githubusercontent.com/51206811/108590057-da836c00-7361-11eb-8e4b-ec864a5a361e.PNG)

![IM

[2021-02-20 09:01] WieFel commented on #76
Also you could add the `FloatingActionButton` to front layer only, like so:
[code]
Like this, it is by design shown only when front layer is visible ;)

[2021-02-20 09:04] WieFel commented on #76
I once had the same problem. Therefore we added `resizeToAvoidBottomInset` property to `BackdropScaffold`. As discussed [here](https://stackoverflow.com/questions/46551268/when-the-keyboard-appears-the-flutter-widgets-resize-how-to-prevent-this), setting `resizeToAvoidBottomInset: false` should hopefully solve your problem.

[2021-02-20 09:20] TenPetr commented on #76
Unfortunately, this did not help me. :/

[2021-02-20 09:27] daadu commented on #76
try `resizeToAvoidBottomPadding: false`

[2021-02-20 09:29] TenPetr commented on #76
I believe this property is depricated and it is not included in the BackdropScaffold at all.

[2021-02-20 09:32] WieFel commented on #76
I think the problem is more generic, not specific to `BackdropScaffold`. Can you try for a moment exchanging the `BackdropScaffold` by a normal `Scaffold` and check if the problem with the keyboard still occurs?

[2021-02-20 09:34] TenPetr commented on #76
Yes, before I used this package, I was using alerts with forms inside, and whenever keyboard show up, whole scaffold just moved up.

[2021-02-20 09:39] TenPetr commented on #76
Is it possible to set back layer to be fullscreen? Basically remove whole inactive bottom part. @WieFel

[2021-02-20 10:31] TenPetr commented on #76
One last question please - Is it possible to pass data from back layer back to front layer?

On my back layer i have a filter and search and whenever user find desired result and tap on it, I want to pass selected data somehow back to front layer widget. (My back layer is a separate widget and since I am not using Navigator, I cant pass data between these two widgets..) Do you have any idea, how t

[2021-02-20 10:36] WieFel commented on #76
@TenPetr this is common use case in flutter and can be solved with callbacks. Check [this](https://medium.com/flutterdevs/working-with-callback-in-flutter-89dc207cba37).

[2021-02-20 10:39] daadu commented on #76
There is various way to do it in flutter, this is known as state management.

Some simpler ways are - ScopedModel, provider

Some sophisticated ways are  - BLoC, Redux, etc

Check the following videos for it:
- https://www.youtube.com/watch?v=RS36gBEp8OI
- https://www.youtube.com/watch?v=d_m5csmrf7I

[2021-02-20 10:50] daadu commented on #76
For simpler cases, as @WieFel mentioned you can you callbacks.

[2021-02-20 11:33] TenPetr commented on #76
Thanks a lot both of you. I figured out that I can simply pass method reference to second widget and that I can call this method that is defined in the parent widget this way, so now, I can simply pass data as an argument to this function.

Thanks a lot for your help, guys!

[2021-02-21 10:00] daadu opened #78 "Automatic testing with CI/CD"

[2021-02-23 05:36] daadu commented on #67
This has landed with [v0.5.0 on pub.dev](https://pub.dev/packages/backdrop/versions/0.5.0).

[2021-02-23 05:38] daadu commented on #72
This has landed with [v0.5.0 on pub.dev](https://pub.dev/packages/backdrop/versions/0.5.0). @rtr-dnd Thanks for suggesting it. Please check yourself in REAMDE!!

[2021-02-23 05:42] daadu opened #79 "[CI/CD] for demo deployment is failing"
**Failed Runs**
- https://github.com/fluttercommunity/backdrop/actions/runs/591532419 for v0.5.0 tag
- https://github.com/fluttercommunity/backdrop/actions/runs/591545316 for v0.5.1 tag

[2021-02-23 05:42] daadu commented on #79
@WieFel Can you look into it.

[2021-02-23 10:56] LorenzoVianello opened #80 "Show backLayer first"
**Is your feature request related to a problem? Please describe.**
I'm trying to reveal backLayer first, without use it as frontLayer, in order to mantain frontLayer controllers (eg. like in spotify, where frontLayer is music bottomBar, which on click goes to music controls, that we use in frontLayer

**Describe the solution you'd like**
I'd like a solution as "toggleFirst: true/false"

[2021-02-23 20:27] WieFel commented on #80
@LorenzoVianello ok, I think we can add a property `revealBackLayerAtStart` or similar, which defaults to `false`.
I couldn't find any other workaround.

@daadu what do you think?

[2021-02-23 20:57] WieFel commented on #79
Solved!

[2021-02-23 20:57] #79 closed

[2021-02-24 10:45] seco560 commented on #80
I'd also benefit from this feature. My current workaround is to simply swap the front and back layers, but it's a bit iffy.

[2021-02-25 10:14] TenPetr opened #81 "Set fullscreen back layer"
Hello,

I would like to set the back layer fullscreen. Currently, there is this inactive part at the bottom, and I would like to basically push back layer over whole screen. Do you think, that is possible somehow in the current version?

Thanks a lot!

[2021-02-25 11:09] WieFel commented on #81
@TenPetr you can try if setting `headerHeight: 0` solves the problem.

Else I would have to check later...

[2021-02-25 11:16] TenPetr commented on #81
Worked for me! Thanks a lot!

[2021-02-25 11:16] #81 closed

[2021-02-25 16:04] daadu commented on #80
@WieFel go ahead with `revealBackLayerAtStart` idea.

[2021-02-25 17:30] WieFel commented on #80
@daadu @LorenzoVianello @seco560
actually I **did** find a workaround just now:
[code]

Use a `StatefulWidget`, use `with TickerProviderStateMixin` with your `State` and set the `BackdropScaffold` controller's initial value to `0`, so the backdrop starts in an open state.

@daadu but I think we can still add the property `revealBackLayerAtStart`, right? For better readability and easier use...

[2021-02-25 18:52] daadu commented on #80
Yes, I forgot that custom `controller` can be passed (also we should rename to `animationController`).

`revealBackLayerAtStart` i think should still be added.

[2021-02-26 20:32] #80 closed

[2021-02-27 06:57] daadu commented on #80
This feature has landed with [v0.5.2 on pub.dev](https://pub.dev/packages/backdrop/versions/0.5.2).

@LorenzoVianello Thank you for suggesting this. Please check yourself in repo README.

[2021-02-27 09:49] daadu commented on #70
This has landed with [v0.5.0 on pub.dev](https://pub.dev/packages/backdrop/versions/0.5.0).

[2021-02-27 09:49] #70 closed

[2021-02-28 16:39] felixwortmann opened #83 "Error: The Ticker must be disposed before flutter: calling super.dispose"
**Describe the bug**
I get the following error:
[code]
When I follow the stacktrace, I get to this point in `BackdropScaffoldState`
[code]

If I change that to :
[code]
everything works again.<br>

I now ask myself why  `_shouldDisposeAnimationController` is false if an AnimationController exists?
Also I found this in `BackdropScaffoldState`'s `initState`<br>
[code]
Since `_shouldDisposeAnimationC

[2021-02-28 16:51] WieFel commented on #83
@felixwortmann you are right.

Actually I ask myself why `_shouldDisposeAnimationController` is needed at all. In my opinion it could also be removed, and the dispose method changed as follows:
[code]
It should work as well, wouldn't it? @daadu

[2021-02-28 17:19] felixwortmann commented on #83
@WieFel that is exactly what I meant. I already created a pr, you can just try it out.

[2021-03-02 06:24] daadu commented on #83
If you pass `animationController` to `BackdropScaffold`, the `dispose` responsibility is of the outer widget. Ideally this is how it should be.

The Ticker was created according to logs in `BackdropScaffoldState.initState (package:backdrop/scaffold.dart:397:9)` which is the following:

https://github.com/fluttercommunity/backdrop/blob/3c6da7e32243ff7c4d59b35e73c426f78e9e5628/lib/scaffold.dart#L394

[2021-03-02 06:31] daadu commented on #83
@felixwortmann "some how" the dispose is not being called, my suspect is in the `BackdropScaffoldState.dispose`, `super.dispose` is called before `controller.dispose`.

Simply, interchanging that should work. The `dispose` of `BackdropScaffoldState` Should be the following :
[code]

[2021-03-02 06:33] daadu commented on #83
@felixwortmann Can you confirm, if the above code works for you?

[2021-03-02 10:16] felixwortmann commented on #83
That works for me. `super.dispose()` should just be called after
[code]

[2021-03-02 10:24] felixwortmann commented on #83
I just updated my PR, can you take a look at it?

[2021-03-02 10:41] daadu commented on #83
Fixed with #84

[2021-03-02 10:41] #83 closed

[2021-03-02 10:44] daadu commented on #83
This fix/feature has landed with [v0.5.3 on pub.dev](https://pub.dev/packages/backdrop/versions/0.5.3).

[2021-03-02 10:53] daadu commented on #15
Closing this issue, since stalled.

Feel free to request re-opening.

[2021-03-02 10:53] #15 closed

[2021-03-04 12:04] daadu opened #85 "migrate to null-saftey"
- https://dart.dev/null-safety/understanding-null-safety
-  https://dart.dev/null-safety/migration-guide
- https://dart.dev/null-safety/unsound-null-safety

[2021-03-11 07:07] #85 closed

[2021-03-11 09:44] daadu commented on #85
This fix/feature has landed with [v0.6.0 on pub.dev](https://pub.dev/packages/backdrop/versions/0.6.0).

[2021-03-27 20:53] ivofernandes opened #89 "Customizable button color"
Would be better if it was possible to customize the color of the button, something like:

[code]

It would be needed to change the button.dart to receive a parameter and only be white when no parameter is passed

https://github.com/fluttercommunity/backdrop/blob/master/lib/button.dart

Looks like a good idea to you?

[2021-04-04 00:07] ivofernandes commented on #89
Actually there is a way to override the backdropButtonColor, just doing this:

[code]

[2021-04-04 00:07] #89 closed

[2021-04-08 16:48] AjayrajSingh opened #90 "Padding missing for the action items in the BackdropAppBar."
While adding widgets like Circle Avatar or any custom widget there is no default padding on the BackdropAppBar. Icon Buttons comes with default padding and hence there is no need to add so, but it is not the case for other widgets.
[code]
The app bar should come with fixed padding. For fixing the extra space when adding IconButton we can define the theme property for IconButton and make the paddin

[2021-04-08 18:41] WieFel commented on #90
`BackdropAppBar` internally is just a normal material `AppBar`. So it doesn't differ in padding...
You can see a comparison here:
1. Using `BackdropAppBar`:
[code]
<img width="25%" src="https://user-images.githubusercontent.com/8345062/114079378-6cabe900-98aa-11eb-8218-d014c348bb39.png" alt="screenshot-1"></img>
2. Using normal material `AppBar`:
[code]
<img width="25%" src="https://user-images.gi

[2021-04-10 04:57] AjayrajSingh commented on #90
Okay, I got it. Thanks for the detailed explaination.

[2021-04-10 04:57] #90 closed

[2021-04-28 18:14] ScottMacDougall opened #91 "Add maintainState property to automatically clear state when backLayer is collapsed"
**Is your feature request related to a problem? Please describe.**
Sometimes I want to clear the state of the back layer when not visible, without manually having to clear the state. Example would be if there was a TextField in the back layer that I don't want to persist after back layer is collapsed.

**Describe the solution you'd like**
Many widgets in Flutter, such as ExpansionTile have a maint

[2021-04-29 04:27] daadu commented on #91
you could set a `GlobalKey` to `BackLayer` and change it when you want, that will "create new state" for backLayer.

[2021-04-29 07:18] m-lecomte opened #92 "Reveal backlayer with natural gestures"
When I want to open backdrop, we have to click on the top left button. As a result, the navigation is no longer efficient in my opinion.

I wish I could slide down and reveal the backlayer, then slide up to close it. This is a natural gesture very appreciated, and available on natives android applications. So this could be implemented through an animation or with the coordinates of the touch event

[2021-04-29 11:54] ScottMacDougall commented on #91
Definitely. The request is to simply provide a low-code way to handle this in a way developers may already be familiar with from using other widgets.

[2021-05-01 14:38] WieFel commented on #92
We already had a similar issue about this in #68, so I think we won't integrate this into the package.

However, you might be able to achieve your desired behaviour by using a `GestureDetector` and passing a custom `AnimationController` to `BackdropScaffold`.

[2021-05-01 14:39] WieFel commented on #91
Well I think we could add it. @ScottMacDougall maybe also you can try to implement it and open a PR? ;)

[2021-05-01 14:47] ScottMacDougall commented on #91
Sure thing. I’ll try to get to it this week.

[2021-05-01 14:55] #92 closed

[2021-05-03 04:12] #91 closed

[2021-05-04 05:21] daadu commented on #91
This fix/feature has landed with [v0.6.1 on pub.dev](https://pub.dev/packages/backdrop/versions/0.6.1).

[2021-06-08 21:42] hendrychjan opened #94 "Make a parameter out of front layer elevation"
Make font layer elevation a parameter, so that you can easily change the amount of shadow you want to have there.

I've discussed this with Felix (@WieFel) on gitter, he suggested that the elevation [here](https://github.com/fluttercommunity/backdrop/blob/7d59a0827dde60bd59a57450e161bb35e5f9acac/lib/scaffold.dart#L624) is set to "1", so maybe you could make it a parameter?

[2021-06-09 04:39] daadu commented on #94
@hendrychjan Thank you for the suggestion.

Can you write the PR for this?

[2021-06-10 09:01] hendrychjan commented on #94
Sure. How much is it urgent? Can I do it during the weekend?

[2021-06-10 13:16] WieFel commented on #94
@hendrychjan sure, whenever you have time! ;)

[2021-06-27 15:57] sachin-dahal opened #95 "BackdropScaffold usage gif example needs an update!"
Shown example gif doesn't matches with the example code provided in the Usage of BackdropScaffold in the main documentation.
It would be much better if the example code matches the relevant gif example.

[2021-06-28 08:11] daadu commented on #95
Closing this, as PR merged

[2021-06-28 08:11] #95 closed

[2021-08-03 13:59] LorenzoVianello opened #97 "Avoid SubHeader spawn on top of Front Layer"
I'm using the plugin for a custom audio player, and subheader is suitable for minimized player, but every time i come back to front layer, the subheader sticks itself on the top, and at the moment i didn't figured out how to fix this, apart from using Obx block and map menu openings.

Is it already available as feature, am I doing something wrong or is still impossibile?

[2021-08-03 14:17] WieFel commented on #97
Can you show a screenshot/gif and explain what you would expect, and what is going wrong in more detail?

[2021-10-26 09:26] pascalwild opened #98 "Use AppBar.SystemOverlayStyle instead of AppBar.Brightness"
Would be great if you could migrate `AppBar.brightness` to `AppBar.systemOverlayStyle` because the property is no longer used.

[2021-11-01 21:53] WieFel commented on #98
@pascalwild thanks for the input! And sorry for the delay.
I will have a look at this asap. If you are quicker, please go ahead and open a PR ;)

[2021-12-18 14:18] #98 closed

[2021-12-19 06:20] daadu opened #106 "Merge example and demo project"
Pros:
- commands like `flutter pub get` work properly
- lesser management/boiler code
- single integration and build test - with CI

[2021-12-19 06:20] daadu commented on #106
@WieFel Let me know your views on it.

[2021-12-19 08:01] WieFel commented on #106
@daadu actually a good idea ;)
so you mean to have something like a subfolder inside `example/lib` which contains the `demo` code?

[2021-12-19 08:29] daadu commented on #106
yes something like
[code]

[2021-12-19 09:30] daadu commented on #97
Closing this because of lack of response. @LorenzoVianello Feel free to request to re-open.

[2021-12-19 09:30] #97 closed

[2021-12-19 09:41] WieFel commented on #106
@daadu yes just go ahead with this ;)

[2021-12-19 10:06] daadu commented on #106
Will do this when we start working on test - integration test in particular.

[2021-12-19 10:13] #94 closed

[2021-12-19 11:43] daadu commented on #98
The feature has landed on [pub.dev with v0.7.0](https://pub.dev/packages/backdrop/versions/0.7.0).

Thanks @pascalwild for suggesting it, check yourself in project README!

[2021-12-19 11:43] daadu commented on #94
The feature has landed on [pub.dev with v0.7.0](https://pub.dev/packages/backdrop/versions/0.7.0).

Thanks @hendrychjan for suggesting it, check yourself in project README!

[2021-12-19 14:08] daadu opened #111 "Abstract out "backdrop core" from `BackdropScaffold`"
Something like `BackdropController` or `BackdropLayout` or just `Backdrop` - that has all the `backdrop` logic/animation in it. This will make the functionality re-usable with other non-scaffold like scenario - like `NavigationRails`, etc. This will also increase the usability of the package.

This is in-line with what @willlarche [suggested when I posted about the package in flutter-dev group](ht

[2022-01-04 16:57] lastmeta opened #112 "Add a shadow to the front layer"
**Is your feature request related to a problem? Please describe.**
I want my front layer to cast a shadow on the app bar, and the back layer.

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**
I attempted a bunch of stuff like this:

[code]
However, the shadow was always "inside" the frontLayer, not outside it.
![image](https://user-images.githubusercontent.c

[2022-01-05 12:51] milkyway044 opened #115 "Custom shape on the front layer"
It would be nice to be able to change the shape of the front layer. I have a design with beveled corners like in [Shrine Material theme](https://material.io/design/material-studies/shrine.html#shape), but now there is no way to change shape.

![Shrine's customized backdrop](https://lh3.googleusercontent.com/jcZK7YBo1KPvMhq27jah-6zjmNse-FgZGTs3Pw9T154bipVfkvudyq80yUw-9IS2mlI7S-3Y1SYSA2YCtViPGsPbQ5S

[2022-01-05 12:52] milkyway044 commented on #115
[https://material.io/components/backdrop#theming](https://material.io/components/backdrop#theming)

[2022-01-05 13:32] daadu commented on #115
@WieFel I am surprised that this is not being implemented!

Should we generalise `frontLayerBorderRadius` to `frontLayerShape` ?? Or keep both?

I am in favour of only having `frontLayerShape` and deprecating `frontLayerBorderRadius`.

[2022-01-05 13:36] daadu commented on #115
Looks non-trivial to just replace. `frontLayerBorderRadius` is used to "clip" as well - maybe to show scrim properly.

Check this code:

https://github.com/fluttercommunity/backdrop/blob/e623fb85a904035247e766b24faea80d8f198fac/lib/src/scaffold.dart#L544-L551

[2022-01-05 13:41] daadu commented on #115
Ok, looks like we can do it "clipping" based on `ShapeBorder` with `ShapeBorderClipper`

[2022-01-05 14:09] daadu commented on #115
@milkyway044 Request you to review and test against the PR for this feature.

[2022-01-05 14:59] WieFel commented on #115
Me too actually!

Yes LGTM

[2022-01-05 18:44] milkyway044 commented on #115
@daadu this is exactly what i need, thank you so much, guys!

[2022-01-05 18:45] #115 closed

[2022-01-06 18:49] lastmeta opened #117 "How to show back layer without scrim on front?"
**Is your feature request related to a problem? Please describe.**
I have a situation where I want to show some of the back layer, while allowing the user to interact with the front.

like this:
![image](https://user-images.githubusercontent.com/5642485/148434553-12c2886f-a2d2-4de9-81ea-336e4dc0c3d8.png)

but of course I also want to retain the default behavior for other situations: like when I'm

[2022-01-09 06:18] daadu commented on #117
did you tried with `frontLayerScrim: Colors.transparent` that should remove the scrimColor.

Sadly to enable user interaction (like tap, etc) `behavior: HitTestBehavior.opaque,` in the following code would not allow it:

https://github.com/fluttercommunity/backdrop/blob/715f6d7e54df13bfe73ffb609e0d27413c0bcfac/lib/src/scaffold.dart#L515-L522

Suggesting following changes:
- add `HitTestBehavior fr

[2022-01-09 06:34] daadu commented on #117
@lastmeta [Backdrop behaviour in MDG](https://material.io/components/backdrop#behavior) defines that the front layer should be inactive when backLayer is revealed, therefore this is the default(hard-coded) behaviour.

[2022-01-09 06:44] lastmeta commented on #117
thats fine. in our case we want to reveal a portion of the backlayer which provides information and is not interacted with. perhaps MDG would suggest we put that information on the front layer but having it on the back and having the front be interactive gives a clean and clear distinction between info and interact portions of the screen.

I was able to create a workaround (rather than a real solu

[2022-01-09 15:16] daadu commented on #117
I think the `scrim` can be made optional, therefore re-opening this issue.

Feel free to file PR with changes mentioned above.

[2022-01-09 19:48] WieFel commented on #117
@daadu Seems reasonable. LGTM!

[2022-01-13 23:39] Princewil opened #118 "Slivers AppBar"
Currently, I don't think we can implement sliverAppbar with is package. Probably you can consider making it possible. Thanks

[2022-01-14 09:33] daadu commented on #118
Currently, we only support `Scaffold` with Backdrop functionality. There is a plan to extract backdrop-functionality part out #111 - to support other layouts.

[2022-01-14 16:21] Princewil commented on #118
Alright. We wait then.

[2022-01-14 18:06] daadu commented on #118
You can wait but there is no ETA as of now.

[2022-01-14 18:07] daadu commented on #118
I can guide you if you're interested in implementing it.

[2022-01-15 04:30] Princewil commented on #118
Very interested, Please do...

[2022-01-15 08:58] daadu commented on #118
@Princewil So currently "backdrop" functionalities are integrated with `BackdropScaffold` - need to create new widget - let's say `BackdropWidget` - move all bakdrop related stuff - like - animations logic, etc out from `BackdropScaffold` to this new widget - new widget should just do "backdrop" with a front and backlayer - later integrate this new widget with `BackdropScaffold`.

Hope that makes

[2022-01-15 20:01] Princewil commented on #118
At this point, I think I will make do with what is available 😐

[2022-03-11 19:57] lastmeta opened #120 "cannot paste if backdrop is revealed"
**Describe the bug**
I have an implementation where the backdrop is revealed, and takes up half the screen. I am unable to paste (by long holding and waiting for the paste popup). It does popup like normal, but clicking on the paste button does not preform the past task. Sometimes it seems like it clicks behind the paste button. so what I think is happening is that by pushing down the front layer

[2022-03-11 20:15] lastmeta commented on #120
further troubleshooting points to the use of CustomScrollView being a significant factor...

[2022-03-13 05:06] daadu commented on #120
Interesting, will look into it. Meanwhile, if you find the solution - feel free to file a PR.

[2022-03-14 23:21] lastmeta commented on #120
https://user-images.githubusercontent.com/5642485/158268202-4b3e3ac8-d4e5-4443-82d4-fc0630744e8e.png

I'm struggling to figure out what the square box at the top is, but if the paste button is not within that square it does not paste.

[2022-03-14 23:30] lastmeta commented on #120
here's a better view
![image](https://user-images.githubusercontent.com/5642485/158277351-a91d2157-dd9c-437d-b1d8-c9a93ed9ab0d.png)

[2022-03-15 00:11] lastmeta commented on #120
it seems like that area is the raw gesture detection area associated with the paste button. it only shows up in the widget inspector when the paste widget tooltip is displayed.

[2022-03-15 05:31] lastmeta commented on #120
![image](https://user-images.githubusercontent.com/5642485/158313206-e01a1ac5-2c15-4558-91ca-b90204f9400e.png)

[2022-03-15 05:56] lastmeta commented on #120
https://github.com/flutter/flutter/blob/01989b7c2523a81237209ad67b2403e1bede708f/packages/flutter/lib/src/material/text_selection_toolbar.dart#L106

[2022-03-15 14:57] lastmeta commented on #120
I think if we're able to override the TextSelectionToolbar object we could fix this issue. But that's been difficult as the part that really matters is a private method. So since this has taken so long I'm going to implement a work around for mvp.

[2022-03-15 17:54] lastmeta commented on #120
found a viable workaround for my usecase by disabling the toolbar altogether, but I should also note here that if we say
`resizeToAvoidBottomInset=false` on the scaffold it also works fine.

That tells me it's probably in the right spot, but the scaffold push up functionality pushes it up to it is as in the pictures, overlapping the backlayer rather than the front.

[2022-03-27 04:42] pavlyhabashy opened #121 "I can't get edge swipe to go back to work with BackdropScaffold. Any helpful tips?"

[2022-03-27 08:33] WieFel commented on #121
@pavlyhabashy could you please describe what you mean with edge swipe?
Also provide a simple code example of what you already tried, if possible

[2022-04-21 03:06] mockturtl opened #122 "flutter beta: SchedulerBinding is now null-safe"
**Describe the bug**

Build warning with Flutter beta channel (`2.13.0-0.2.pre`):

[code]

The fix is trivial.  PR incoming.

**Additional context**

Upstream change:

- https://github.com/flutter/flutter/blame/master/packages/flutter/lib/src/scheduler/binding.dart#L218
  - https://github.com/flutter/flutter/pull/89451/files#diff-012f629ab450c5af02ee0de1cf27eb79d5179398858efd0b61f0b66ee3dbd3f0

[2022-05-03 05:57] daadu commented on #122
The fix for it has landed on pub.dev with v0.7.3-beta.1.

@mockturtl Thanks for reporting and fixing this bug.

[2022-05-03 05:57] #122 closed

[2022-05-05 18:31] yagizdo commented on #68
BackdropScaffold.of method is not working now.

It says .of is not defined.

[2022-05-06 06:23] daadu commented on #68
@yagizdo It is `Backdrop.of(context)` not `BackdropScaffold.of`

[2022-05-06 15:29] yagizdo commented on #68
Oh okey. Seeing it like that in the example, I tried it. The example is old then.

[2022-05-06 17:25] WieFel commented on #68
Which example exactly?

[2022-05-08 20:28] yagizdo commented on #68
This

[2022-05-09 05:48] daadu commented on #68
Oops! correcting it.

[2022-05-12 11:59] daadu commented on #122
v0.7.3-beta.1 promoted to v0.8.0.